html {
    position: relative;
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: url(../images/bg.jpg) fixed;
    background-size: cover;

    font-family: 'Open Sans', 'helvetica', arial, sans-serif, Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
    font-weight: 300;
    font-size: 12px;
    color: #62686f;
}

a {
    text-decoration: none;
}

.container {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    'border: 2px solid blue;
    display: table;
}

.header {
    width: 100%;
    height: 36px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-bottom: 1px groove #aaaaaa;

    vertical-align: bottom;
    'display: inline-block;
    'border: 2px solid red;
}

.logo {
    width: 20%;
    display: inline-block;
    text-align: left;
    'border: 2px solid red;
}

.weather {
    width: 20%;
    display: inline-block;
    text-align: center;
    'border: 2px solid red;
}

.user {
    width: 38%;
    display: inline-block;
    text-align: right;
    'border: 2px solid red;
}

.search {
    width: 18%;
    display: inline-block;
    text-align: center;
    'border: 2px solid red;
}

.warning {
    text-align: center;
    font-size: 13px;
    color: #d53c03;
    height: 30px;
    vertical-align: text-top;
    overflow: hidden;
}

.sevenSegContainer
{
    display: inline-block;
    background-color: Black;
    border-radius: 5px;
    margin-left: 18px;
    margin-right: 18px;
    text-align: center;

}
.warningNum
{
    padding: 0.25em;
    height: 20px;
    width: 160px;
}

.float-layout {
    height: 100%;
    overflow: hidden;
    'border: 1px solid yellow;
}

.left {
    width: 25%;
    height: 100%;
    float: left;
}

.left .deploy-mon {
    height: 32%;
    border-bottom: 1px solid #253980;
    padding-bottom: 7px;
}

.left .yearly-warn {
    height: 35%;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #253980;
}

.left .monthly-rank {
    height: 32%;
    padding-top: 8px;
    'border: 1px solid green;
}

.center {
    width: 45%;
    height: 100%;
    background: url(../images/center-bg.png) no-repeat;
    background-size: cover;
    float: left;
}

.center .info-board {
    height: 30px;
    'border: 1px solid white;
    background-color: #191b22;
}

/* Make it a marquee */
.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 30s linear infinite;
}

.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 20em }
    100% { text-indent: -80em }
}

.info-text {
    padding-left: 1.5em;
    position: relative;
    font-size: 11px;
    color: #eaa510;
}


/* ::before was :before before ::before was ::before - kthx */
.info-text:before, .info-text::before {
    z-index: 2;
    content: '';
    position: absolute;
    top: -1em;
    left: -1em;
    width: .5em;
    height: .5em;
}

.info-text:after, .info-text::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;

    background-image: url(../images/speaker.png);
    'background-image: url(../images/speaker.png), linear-gradient(90deg, #000 70%, #191b22);
    background-repeat: no-repeat;
    background-size: 30px 16px;
}

.center .dynamic-title {
    height: 5%;
    width: 130px;
    background: url(../images/dynamic-bg.png) 10px -5px no-repeat;
    background-size: 120px 20px;
    color: #00c6ff;
    font-size: 10px;
    font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";
    text-align: center;
}

.center .dynamic-title a {
    text-decoration: none;
    color: #00c6ff;
}

.center .geo-visual {
    height: 48%;
    z-index: 1;
    'border: 1px solid white;
}

.center .threat-index {
    height: 15%;
    background: url(../images/index-bg.png) center no-repeat;
    background-size: 95% 90%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    'border: 1px solid blue;
}

.center .threat-index .info-brief {
    height: 100%;
    width: 40%;
    float: left;
    'border: 1px solid white;
}

.center .threat-index .info-brief .list-title {
    color: #ffffff;
    font-size: 11px;
    margin-left: 20px;
}

.center .threat-index .info-brief ul li{
    list-style: none;
    line-height: 20px;
    color: #00c6ff;
    font-size: 10px;
}

.security-index,
.op-index,
.virus-index
{
    height: 100%;
    width: 16%;
    'border: 1px solid yellow;
    float: left;
}

.center .live-report {
    height: 35%;

    'border: 1px solid white;
}

.center .live-report .live-title {
    margin-top: 3px;
    height: 10%;
    width: 180px;
    vertical-align: bottom;
    background: url(../images/live-bg.png) 10px -2px no-repeat;
    background-size: 160px 20px;
    color: #ff3c00;
    font-size: 10px;
    font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";
    text-align: center;
}

.center .live-report .live-list ul li {
    list-style: none;
    line-height: 24px;
    font-size: 10px;
    font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";
    border-bottom: 1px groove #361a1c;
}

.center .live-report .live-list .live-order {
    color: #ffc000;
}

.center .live-report .live-list .live-local {
    color: #d7422c;
}

.center .live-report .live-list .live-text {
    color: #00c6ff;
}

.right {
    width: 30%;
    height: 100%;
    float: left;
}

.right .threat-comp {

    height: 32%;
    border-bottom: 1px solid #253980;
    padding-top: 7px;
    padding-bottom: 2px;
}

.right .threat-source {
    height: 32%;
    border-bottom: 1px solid #253980;
    padding-top: 7px;
    padding-bottom: 2px;
}

.right .threat-trends {
    height: 33%;
    padding-top: 7px;
    'border: 1px solid green;
}

.map-thumb {
    width: 0px;
    z-index: 9;
    position: relative;
    left:60px;
    top: -60px;
    float: left;
}