html {
    position: relative;
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: url(../images/bg.jpg) fixed;
    background-size: cover;

    font-family: 'Open Sans', 'helvetica', arial, sans-serif, Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
    font-weight: 300;
    color: #62686f;
}

.container {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    'border: 2px solid blue;
    display: table;
}

.header {
    width: 100%;
    height: 40px;
    margin-top: 3px;
    'display: inline-block;
    'border: 2px solid red;
}

.logo {
    width: 20%;
    display: inline-block;
    text-align: left;
    'border: 2px solid red;
}

.weather {
    width: 20%;
    display: inline-block;
    text-align: center;
    'border: 2px solid red;
}

.user {
    width: 38%;
    display: inline-block;
    text-align: right;
    'border: 2px solid red;
}

.search {
    width: 18%;
    display: inline-block;
    text-align: center;
    'border: 2px solid red;
}

.float-layout {
    height: 100%;
    overflow: hidden;
    'border: 1px solid yellow;
}

.left {
    width: 25%;
    height: 100%;
    float: left;
}

.left .deploy-mon {
    height: 33%;
    'border: 1px solid green;
}

.left .yearly-warn {
    height: 33%;
    border: 1px solid green;
}

.left .monthly-rank {
    height: 33%;
    border: 1px solid green;
}

.center {
    width: 50%;
    height: 100%;
    float: left;
}

.center .info-board {
    height: 20px;
    border: 1px solid white;
}

.center .geo-visual {
    height: 60%;
    border: 1px solid white;
}

.center .live-report {
    height: 35%;
    border: 1px solid white;
}

.right {
    width: 25%;
    height: 100%;
    float: left;
}

.right .threat-compo {
    height: 33%;
    border: 1px solid green;
}

.right .threat-source {
    height: 33%;
    border: 1px solid green;
}

.right .threat-trends {
    height: 33%;
    border: 1px solid green;
}


