<!DOCTYPE html>
<html lang="en" ng-app="deploy">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <title>Deployment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="js/echarts/echarts-all-3.js"></script>
    <script type="text/javascript" src="js/echarts/extension/dataTool.min.js"></script>
    <!--<script type="text/javascript" src="js/echarts/map/js/china.js"></script>-->
    <!--<script type="text/javascript" src="js/echarts/map/js/zhejiang.js"></script>-->
    <!--<script type="text/javascript" src="js/echarts/map/js/world.js"></script>-->
    <script type="text/javascript" src="js/echarts/extension/bmap.min.js"></script>



    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />-->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <!--<script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.15/angular.js" data-semver="1.2.15"></script>-->


    <link rel="stylesheet" href="css/bootstrap.min.css" />


    <script src="js/linkmap/echarts.js"></script>

    <!--<link rel="stylesheet" href="css/main.css" />-->
    <link rel="stylesheet" href="css/deployment.css" />
    <link rel="stylesheet" href="css/normalize.css" />


    <script src="js/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <script type="text/javascript" src="js/deployment.js"></script>
</head>
<body>
    <div class="container">
        <div id="header">header
            <script>$("#header").load("header.html")</script>
        </div>
        <div class="deploy-map" id="deploy-map">
            <div class="deploy-china" id="deploy-china" style="background-color: black">deploy china</div>
            <div class="deploy-local" id="deploy-local">deploy local</div>
            <div class="deploy-detail" id="deploy-detail">
                <div class="local-brief" id="local-brief" style="width: 100%; height: 60%">
                    <section>
                        <span class="province" id="province"></span>&nbsp;&nbsp;<span>安全信息摘要</span>
                        <br />
                        <br />
                        <br />
                        <ul class="local-detail" id="local-detail" >
                            <li>部署总数&nbsp;:&nbsp;&nbsp;
                                <span style="color:green">已上线</span>&nbsp;&nbsp;
                                <span style="color:#62686f">未上线</span>&nbsp;&nbsp;
                                <span style="color:#d7422c">未部署</span>&nbsp;&nbsp;
                                <span style="color:#ff3c00">已卸载</span>
                            </li>
                            <li>管理网段&nbsp;:&nbsp;&nbsp;<span id="local-net"></span></li>
                            <li>防护总时长&nbsp;:&nbsp;&nbsp;<span id="local-timer"></span></li>
                            <li>查杀威胁总数&nbsp;:&nbsp;&nbsp;<span id="local-count"></span></li>
                            <li>被卸载次数&nbsp;:&nbsp;&nbsp;<span id="local-uninstall"></span></li>
                        </ul>
                    </section>
                </div>
                <div class="threat-index" id="threat-index">
                    <div class="security-index" id="security-index"></div>
                    <div class="op-index" id="op-index"></div>
                    <div class="virus-index" id="virus-index"></div>
                </div>
            </div>
        </div>
        <div class="deploy-list" id="deploy-list">
            <img src="images/deploy-legend.png" style="float: right; height: 36px"/>
            <section ng-controller="PanelController as tab">
                <ul class="nav nav-pills"  style="background-color: #000000; border-bottom: 0.5px groove;">
                    <li ng-class="{ active: tab.isSet(1) }">
                        <a href="" ng-click="tab.setTab(1)">全部</a>
                    </li>
                    <li ng-class="{ active: tab.isSet(2) }">
                        <a href="" ng-click="tab.setTab(2)">一级中心</a>
                    </li>
                    <li ng-class="{ active: tab.isSet(3) }">
                        <a href="" ng-click="tab.setTab(3)">二级中心</a>
                    </li>
                    <li ng-class="{ active: tab.isSet(4) }">
                        <a href="" ng-click="tab.setTab(4)">客户端
                        </a>
                    </li>
                </ul>
                <div ng-show="tab.isSet(1)">
                    <h4 style="color:red">全部</h4>
                </div>
                <div ng-show="tab.isSet(2)">
                    <h4 style="color:red">一级中心</h4>
                </div>
                <div  ng-show="tab.isSet(3)">
                    <!--<div style="height: 80%">-->
                    <div class="deploy-city" id="deploy-beijing">beijing</div>
                    <div class="deploy-city" id="deploy-shanghai">shanghai</div>
                    <div class="deploy-city" id="deploy-shenzhen">shenzhen</div>
                    <div class="deploy-city" id="deploy-chongqing">chongqing</div>
                    <!--</div>-->
                </div>
                <div  ng-show="tab.isSet(4)">
                    <h4 style="color:red">客户端</h4>
                </div>
            </section>
        </div>


    </div>

    <script type="text/javascript" src="js/commonFunction.js"></script>
    <script type="text/javascript" src="js/link-map.js"></script>
    <script  type="text/javascript">

        generatePie( "security-index",'安全指数', 78, '#43955a','#1b672f');
        generatePie( "op-index",'运维指数', 66, '#ffc000','#ac8300');
        generatePie( "virus-index",'疫情指数', 36, '#ea5513','#a93f0f');
    </script>

</body>
</html>